<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/nearest-issues.css">
    <script src="js/index.js" type="/text/javascript"></script>
    <title>Title</title>
</head>
<body>

<header>
    <div class="header-container">
        <div class="title">
            <div class="logo-container">
                <a href="/">
                    <img class="logo-img" src="/images/logo.png">
                </a>
            </div>
            <div class="site-name-container">
                <div class="site-name-text-box">
                    <p class="site-p" style="
                     font-family: 'Open Sans Regular', serif;
                     font-size: 16px;
                     color: white;">
                        Issue
                    </p>
                    <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 20px;
                     color: white;">
                        Analyzer
                    </p>
                </div>
            </div>
            <div class="find-nearest-repositories-button-container">
                <div class="find-nearest-repositories-button-body">
                    <p class="site-p" style="
                     font-family: 'Open Sans Regular', serif;
                     font-size: 12px;
                     color: white;
                     margin: 0;
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     -ms-transform: translate(-50%, -50%);
                     transform: translate(-50%, -50%);">
                        Найти
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="content-container">
    <!--
    *
    *
    *
    -->
    <div class="block-header">
        <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 24px;
                     margin-top: 10%;
                     color: #1c1c1c;">
            ТОП похожих Issue:
        </p>
        <p class="site-p" style="
                     font-family: 'Open Sans Regular', serif;
                     font-size: 16px;
                     margin-top: 2%;
                     color: #1c1c1c;">
            Здесь собраны в один отсортированный список самый похожие Issue вашего репозиторя.
        </p>
        <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 42px;
                      margin-top: 10%;
                     color: #1c1c1c;">
            {{.UserRepositoryName}} &#129309; {{.ComparableRepositoryName}}
        </p>
    </div>
    <!--
    *
    *
    *
    -->
    <div class="list-nearest-repositories-container">
        {{range $i, $e := .Top}}
            {{if eq $i 0}}
                <div class="block-header" style="margin: 10% 0;">
                    <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 24px;
                     color: #1c1c1c;">
                        Призовые места.
                    </p>
                    <p class="site-p" style="
                     font-family: 'Open Sans Regular', serif;
                     font-size: 16px;
                     margin-top: 2%;
                     color: #1c1c1c;">
                        ТОП 3 самых похожих пар Issue.
                    </p>
                </div>
            {{end}}
            {{if eq $i 3}}
                <div class="block-header" style="margin: 10% 0;">
                    <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 24px;
                     color: #1c1c1c;">
                        Не призовые места.
                    </p>
                    <p class="site-p" style="
                     font-family: 'Open Sans Regular', serif;
                     font-size: 16px;
                     margin-top: 2%;
                     color: #1c1c1c;">
                        Похожие пары Issue.
                    </p>
                </div>
            {{end}}
            <div class="nearest-repository">

                {{if lt $i 3}}
                    <div class="field-container" style="margin-top: 5%">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 36px;">
                            {{if eq $i 0}}
                                &#129351;
                            {{end}}
                            {{if eq $i 1}}
                                &#129352;
                            {{end}}
                            {{if eq $i 2}}
                                &#x1F949;
                            {{end}}
                        </p>
                    </div>
                {{end}}

                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p"
                           style="font-family: 'Open Sans Regular', serif;font-size: 16px; display: inline-block;">
                            Заголовок Issue репозитория
                        </p>
                        <p class="site-p"
                           style="font-family: 'Open Sans ExtraBold', serif;font-size: 16px;  display: inline-block;">
                            {{$e.UserRepositoryName}}:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            {{$e.UserRepositoryTitle}}
                        </p>
                    </div>
                    <div class="field-value" style="margin-top: -20px;">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            <a href="{{$e.UserRepositoryURL}}" target="_blank">
                                {{$e.UserRepositoryURL}}
                            </a>
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p"
                           style="font-family: 'Open Sans Regular', serif;font-size: 16px; display: inline-block;">
                            Заголовок Issue репозитория
                        </p>
                        <p class="site-p"
                           style="font-family: 'Open Sans ExtraBold', serif;font-size: 16px;  display: inline-block;">
                            {{$e.ComparableRepositoryName}}:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            {{$e.ComparableRepositoryTitle}}
                        </p>
                    </div>
                    <div class="field-value" style="margin-top: -20px;">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            <a href="{{$e.ComparableRepositoryURL}}" target="_blank">
                                {{$e.ComparableRepositoryURL}}
                            </a>
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p"
                           style="font-family: 'Open Sans ExtraBold', serif;font-size: 16px; display: inline-block;">
                            Ранг
                        </p>
                        <p class="site-p"
                           style="font-family: 'Open Sans Regular', serif;font-size: 16px; display: inline-block;">
                            схожести Issue:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            {{$e.Rank}} %
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            Пересечения заголовков:
                        </p>
                    </div>
                    <div class="field-value">
                        <div class="topics-container">
                            {{ $title := .UserRepositoryTitle }}
                            {{range .TopicsIntersections}}
                                <div class="topic">
                                    <a class="topic-p" href="https://github.com/issues?q={{$title}}">
                                        {{.}}
                                    </a>
                                </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p"
                           style="font-family: 'Open Sans Regular', serif;font-size: 16px; display: inline-block;">
                            Косинусное расстояние заголовков Issue:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            {{$e.TitleCosine}} %
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p"
                           style="font-family: 'Open Sans Regular', serif;font-size: 16px; display: inline-block;">
                            Косинусное расстояние тела Issue:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            {{$e.BodyCosine}} %
                        </p>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>
<footer>
</footer>
</body>
</html>