<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/nearest-repositories.css">
    <title>Title</title>
</head>
<body>

<header>
    <div class="header-container">
        <div class="title">
            <div class="logo-container">
                <div class="logo-container">
                    <a href="/">
                        <img class="logo-img" src="/images/logo.png">
                    </a>
                </div>
            </div>
            <div class="site-name-container">
                <div class="site-name-text-box">
                    <p class="site-p" style="
                         font-family: 'Open Sans Regular', serif;
                         font-size: 16px;
                         color: white;">
                        Issue
                    </p>
                    <p class="site-p" style="
                         font-family: 'Open Sans ExtraBold', serif;
                         font-size: 20px;
                         color: white;">
                        Analyzer
                    </p>
                </div>
            </div>
            <div class="find-nearest-repositories-button-container">
                <div class="find-nearest-repositories-button-body">
                    <p class="site-p" style="
                         font-family: 'Open Sans Regular', serif;
                         font-size: 12px;
                         color: white;
                         margin: 0;
                         position: absolute;
                         top: 50%;
                         left: 50%;
                         -ms-transform: translate(-50%, -50%);
                         transform: translate(-50%, -50%);">
                        Найти
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="content-container">
    <div class="block-header">
        <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 36px;
                     color: #1c1c1c;">
            Результаты поиска похожих репозиториев.
        </p>
        <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 30px;
                     margin-top: 10%;
                     color: #1c1c1c;">
            Ваш репозиторий.
        </p>
        <p class="site-p" style="
                     font-family: 'Open Sans Regular', serif;
                     font-size: 16px;
                     margin-top: 2%;
                     color: #1c1c1c;">
            Здесь собрана основная информация о вашем репозитории: ссылка на оригинальный источник данных, текст
            описания обработанный средствами NLP, то есть такой текст, который видит и с которым система работает, а
            также тэги.
        </p>
    </div>

    <div class="user-repository">
        <div class="field-container">
            <div class="field-title">
                <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                    Ваш репозиторий:
                </p>
            </div>
            <div class="field-value">
                <p class="site-p"
                   style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                    {{ .UserRepository.Owner}}
                </p>
                <p class="site-p"
                   style="font-family: 'Open Sans ExtraBold', serif;font-size: 14px; display: inline-block;">
                    /{{ .UserRepository.Name}}
                </p>
            </div>
        </div>
        <div class="field-container">
            <div class="field-title">
                <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                    URL репозитория:
                </p>
            </div>
            <div class="field-value">
                <p class="site-p"
                   style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                    <a href="https://github.com/{{ .UserRepository.Owner}}/{{ .UserRepository.Name}}" target="_blank">
                        github.com/{{ .UserRepository.Owner}}/{{ .UserRepository.Name}}
                    </a>
                </p>
            </div>
        </div>
        <div class="field-container">
            <div class="field-title">
                <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                    Описание:
                </p>
            </div>
            <div class="field-value">
                <p class="site-p"
                   style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                    {{ .UserRepository.Description}}
                </p>
            </div>
        </div>
        <div class="field-container">
            <div class="field-title">
                <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                    Тэги:
                </p>
            </div>
            <div class="field-value">
                <div class="topics-container">
                    {{range .UserRepository.Topics}}
                        <div class="topic">
                            <a class="topic-p" href="https://github.com/search?q={{.}}">
                                {{.}}
                            </a>
                        </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
    <div class="block-header">
        <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 30px;
                     margin-top: 10%;
                     color: #1c1c1c;">
            ТОП 10 похожих репозиториев.
        </p>
        <p class="site-p" style="
                     font-family: 'Open Sans Regular', serif;
                     font-size: 16px;
                     margin-top: 2%;
                     color: #1c1c1c;">
            Каждый репозиторий имеет оценку схожести предметной области с вашим репозиторием нормированную от 0 до 100%.
            Список отсортирован по убыванию параметра Ранг, который рассчитывается по формуле K / (M x N), где K -
            количество пар похожих Issue, M и N - количество Issue двух
            репозиториев соответственно. Дополнительно цветом подсвечиваются те слова из описания репозиториев, по
            которым репозитории пересекаются.
        </p>
    </div>
    <div class="list-nearest-repositories-container">
        {{$userRepositoryName := .UserRepository.Name}}
        {{range $i, $e := .Top}}
            {{if eq $i 0}}
                <div class="block-header" style="margin: 10% 0;">
                    <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 24px;
                     color: #1c1c1c;">
                        Призовые места.
                    </p>
                    <p class="site-p" style="
                     font-family: 'Open Sans Regular', serif;
                     font-size: 16px;
                     margin-top: 2%;
                     color: #1c1c1c;">
                        ТОП 3 самых похожих репозиториев по количеству пар схожих Issue.
                    </p>
                </div>
            {{end}}
            {{if eq $i 3}}
                <div class="block-header" style="margin: 10% 0;">
                    <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 24px;
                     color: #1c1c1c;">
                        Не призовые места.
                    </p>
                    <p class="site-p" style="
                     font-family: 'Open Sans Regular', serif;
                     font-size: 16px;
                     margin-top: 2%;
                     color: #1c1c1c;">
                        7 похожих репозиториев по количеству пар схожих Issue.
                    </p>
                </div>
            {{end}}
            <div class="nearest-repository">
                {{if lt $i 3}}
                    <div class="field-container" style="margin-top: 5%">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 36px;">
                            {{if eq $i 0}}
                                &#129351;
                            {{end}}
                            {{if eq $i 1}}
                                &#129352;
                            {{end}}
                            {{if eq $i 2}}
                                &#x1F949;
                            {{end}}
                        </p>
                    </div>
                {{end}}

                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            Репозиторий:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            {{$e.Owner}}
                        </p>
                        <p class="site-p"
                           style="font-family: 'Open Sans ExtraBold', serif;font-size: 14px; display: inline-block;">
                            /{{$e.Name}}
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            Схожесть предметных областей:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            {{$e.DescriptionDistance}}%
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            Количество пар похожих Issue:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            Нашлось {{$e.CountNearestPairs}} похожих пар из {{$e.RepositoryCountIssues}} всех
                            Issue, вашего
                            репозитория
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            Схожесть на основе Issue:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            {{$e.NumberPairIntersections}}%
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            URL репозитория:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            <a href="https://github.com/{{$e.Owner}}/{{$e.Name}}" target="_blank">
                                github.com/{{$e.Owner}}/{{$e.Name}}
                            </a>
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            Описание:
                        </p>
                    </div>
                    <div class="field-value">
                        <p class="site-p"
                           style="font-family: 'Open Sans Light', serif;font-size: 14px; display: inline-block;">
                            {{$e.Description}}
                        </p>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            Тэги:
                        </p>
                    </div>
                    <div class="field-value">
                        <div class="topics-container">
                            {{range $e.Topics}}
                                <div class="topic" style="background-color: white;">
                                    <a class="topic-p" href="https://github.com/search?q={{.}}">
                                        {{.}}
                                    </a>
                                </div>
                            {{end}}
                        </div>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            Пересечения по тэгам:
                        </p>
                    </div>
                    <div class="field-value">
                        <div class="topics-container">
                            {{if not $e.TopicsIntersections}}
                                <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 14px;">
                                    Пересечения отсутсвуют.
                                </p>
                            {{else}}
                                {{range $e.TopicsIntersections}}
                                    <div class="topic">
                                        <a class="topic-p" href="https://github.com/search?q={{.}}">
                                            {{.}}
                                        </a>
                                    </div>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>
                <div class="field-container">
                    <div class="field-title">
                        <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 16px;">
                            Пересечения в описании:
                        </p>
                    </div>
                    <div class="field-value">
                        <div class="topics-container">
                            {{if not $e.DescriptionIntersections}}
                                <p class="site-p" style="font-family: 'Open Sans Regular', serif;font-size: 14px;">
                                    Пересечения отсутсвуют.
                                </p>
                            {{else}}
                                {{range $e.DescriptionIntersections}}
                                    <div class="topic">
                                        <a class="topic-p" href="https://github.com/search?q={{.}}">
                                            {{.}}
                                        </a>
                                    </div>
                                {{end}}
                            {{end}}
                        </div>
                    </div>
                </div>
                <div class="button-nearest-issues-container">
                    <div class="button-nearest-issues-body">
                        <a href="/get/nearest/issues/{{$userRepositoryName}}/with/{{$e.Name}}">
                            <p class="site-p" style="
                     font-family: 'Open Sans ExtraBold', serif;
                     font-size: 12px;
                     color: #1c1c1c;
                     margin: 0;
                     position: absolute;
                     top: 50%;
                     left: 50%;
                     -ms-transform: translate(-50%, -50%);
                     transform: translate(-50%, -50%);">
                                Похожие Issue
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        {{end}}
    </div>
</div>

<footer>
</footer>


</body>
</html>